@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio&family=Passion+One&family=Poppins&display=swap');

/* Establece un ancho delgado para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 6px;
  }
  
/* Establece un color de fondo para la pista de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background-color: #13161C;
}

/* Establece un color para el indicador de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}

/* Transiciones de fondo imagenes */
.image-transition {
  transition: transform 0.5s ease; /* Agrega una transición suave de 0.5 segundos */
}

/* Fondo blur */

:root{
    --blue:#022874;
    --darkblue: hsl(200, 54%, 12%);
    --tex-white: hsl(0, 0%, 100%);
    --text-light-gray: hsl(0, 0%, 90%);
    --body-bg-color: hsl(0, 0%, 0%);
    --glass-bg-color: hsla(0, 0%, 100%, 0.05);
    --blur: blur(10px);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--body-bg-color);
    font-weight: 300px;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
}

body::after,
body::before{
    content: "";
    position: fixed;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    z-index: -1;
    filter: blur(150px);
    opacity: 0.5;
}

body::before{
    /* background-color: var(--blue); */
    background-color: var(--body-bg-color);
    left: 0;
    bottom: 0;
    transform: translate(-40%);
}

body::after{
    /* background-color: var(--blue); */
    background-color: var(--body-bg-color);
    right: 0;
    top: 0;
    transform: translate(-40%);
}

.titleh1 {
  font-family: 'Anton', sans-serif;

}
.subtitleh2 {
  font-family: 'Antonio', sans-serif;
}

/* Text Grdient */
.title {
  background: #84CC16;
  background: linear-gradient(to right, #84CC16 0%, #022874 80%);
  background-clip: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Animation */
/* Contenedor de las imágenes */
.slider-container {
  display: flex;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  justify-content: center;
  animation: scrollLeft 30s linear infinite;
  margin-top: 20px;
}

/* Imágenes */
.container-logo {
  width: 70px;
  height: 70px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50%;
  scroll-snap-align: center;
}

.shadow-inner {
  box-shadow: 0px 0px 76px 64px rgba(0,0,0,0.83) inset;
  -webkit-box-shadow: 0px 0px 76px 64px rgba(0,0,0,0.83) inset;
  -moz-box-shadow: 0px 0px 76px 64px rgba(0,0,0,0.83) inset;
}

/* Puntos de inicio y fin de la animación */
@keyframes scrollLeft {
  0% {
    transform: translateX(140%);
  }
  100% {
    transform: translateX(-130%);
  }
}

/* Text shadow */

.text-shadown {
  text-shadow: rgba(255,255,255,0.59) 0px 0px 22px;
} 

/* TOP */

.custom-shape-divider-top-1698810401 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1698810401 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.custom-shape-divider-top-1698810401 .shape-fill {
  fill: #000;
}

/* BOTTOM */

.custom-shape-divider-bottom-1698814463 {
  position: relative;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1698814463 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.custom-shape-divider-bottom-1698814463 .shape-fill {
  fill: #000;
}

/* Client top */
.custom-shape-divider-top-1699075035 {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1699075035 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-top-1699075035 .shape-fill {
  fill: #000;
}

@media (max-width: 768px) {
  .custom-shape-divider-top-1699075035 {
    height: 120px; /* Ajuste para móviles en la altura del contenedor */
  }

  .custom-shape-divider-top-1699075035 svg {
    height: 80%; /* Ajuste para móviles en la altura del SVG */
  }
}

/* Client bottom */

.custom-shape-divider-bottom-1699074210 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1699074210 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom-1699074210 .shape-fill {
  fill: #000;
}

@media (max-width: 768px) {
  .custom-shape-divider-bottom-1699074210 {
    height: 120px; /* Ajuste para móviles en la altura del contenedor */
  }

  .custom-shape-divider-bottom-1699074210 svg {
    height: 80%; /* Ajuste para móviles en la altura del SVG */
  }
}

/* Navbard */
@media (max-width: 768px) {
  /* Agregar estilos específicos para móviles */
  header {
    width: 100%;
  }
}

/* Contact */

.w-contact {
  width: 676px;
  height: 467px;
  background: rgb(18,35,43);
  background: linear-gradient(157deg, rgba(18,35,43,1) 0%, rgba(52,86,37,1) 39%, rgba(132,204,22,1) 100%);
  border-radius: 65% 35% 60% 40% / 51% 66% 34% 49% ;
}

.floating-animation {
  animation: floating 4s ease-in-out infinite; /* Puedes ajustar el tiempo y la curva de animación según tus preferencias */
}

@keyframes floating {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
